@font-face {
  font-family: 'Digital Dream Fat';
  src: url(./digital-dream.fat.ttf) format('truetype')
}
body {
  background-color: #020d12;
  color: #84f352;
  font-family: 'Digital Dream Fat';
}
main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
time {
  padding: 1rem;
  display: flex;
  font-size: 8vmax;
}